@using Crud.web.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<head>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true">
</head>

<body>
    <div class="wrapper">
        <div class="login_box">
            <div class="changep-header">
                <span>Change Password</span>

                <div class="icon-wrapper">
                    <a asp-controller="Account" asp-action="VerifyEmail">
                        <i class="fa-regular fa-circle-left fa-2x"></i>
                    </a>
                </div>
            </div>

            <form class="shadow w-450 p-3" method="post" asp-controller="Account" asp-action="ChangePassword">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input_box">
                    <input type="text"
                           id="Email"
                           class="input-field"
                           asp-for="Email"
                           readonly/>
                    <label asp-for="Email" class="label">Email Address</label>
                  
                </div>

                <div class="input_box">
                    <input type="text"
                           id="Email"
                           class="input-field"
                           asp-for="NewPassword"
                           required>
                    <label asp-for="NewPassword" class="label">New Password</label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="input_box">
                    <input type="text"
                           id="Email"
                           class="input-field"
                           asp-for="ConfirmNewPassword"
                           required>
                    <label asp-for="ConfirmNewPassword" class="label">Confirm New Password</label>
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>



                <div class="input_box">
                    <input type="submit"
                           class="input-submit"
                           value="Submit">
                </div>

            </form>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
        }

    }
</body>